= form_with(model: user, local: false) do |form|
  .modal-body
    #errorArea
    .form-group.mt-3
      = form.label :name
      = form.text_field :name, class: 'form-control'
    .form-group.mt-3
      = form.label :email
      = form.text_field :email, class: 'form-control'
    .form-group.mt-3
      = form.label :address
      = form.text_field :address, class: 'form-control'
    .form-group.mt-3
      = form.label :contact
      = form.text_field :contact, class: 'form-control'
  .modal-footer
    %button.btn.btn-secondary.btn-lg.close-modal{"data-bs-dismiss" => "modal", :type => "button"} Close
    = form.submit class: "btn btn-primary btn-lg"
